ion-content{
  text-align: center;
  font-size: 25px;
  --background: url("../../assets/balao.jpeg");
}
ion-button{
  --background: #faa1ee;
}

.titulo{
  color: #990029;
  text-align: center;
  font-weight: 700px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}